@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--color-light-gray);
  font-family: 'Outfit', sans-serif;
  text-align: center;
  overflow-x: hidden;
}

img {
  width: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.card {
  background-color: var(--color-white);
  padding: 1.6rem;
  border-radius: 1.6rem;
  max-width: 32rem;
}

.card-image img {
  border-radius: 0.8rem;
}

.card-body {
  text-align: center;
  margin: 2rem;
}

.card-body h1 {
  color: var(--color-dark-blue);
  font-size: 2.1rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.card-body p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-grayish-blue);
}

/* Attribution */
.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
