.card {
  background-color: var(--color-white);
  padding: 1.6rem;
  border-radius: 1.6rem;
  max-width: 32rem;

  &__image img {
    border-radius: 0.8rem;
  }

  &__body {
    text-align: center;
    margin: 1.9rem;
    line-height: 1.3;

    & h1 {
      color: var(--color-dark-blue);
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }

    & .card__text {
      color: var(--color-grayish-blue);
      margin-inline: calc((16 / 16) * 1em);
      line-height: calc(19 / 15);
    }
  }
}
