.card {
  display: grid;
  gap: calc((24 / 16) * 1em);
  background-color: var(--color-white);
  padding: calc((16 / 16) * 1em);
  border-radius: 20px;
  max-width: 32rem;
  box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);

  &__image img {
    border-radius: 10px;
  }

  &__body {
    display: grid;
    gap: calc((16 / 16) * 1em);
    text-align: center;
    line-height: 1.3;

    & .card__heading {
      color: var(--color-dark-blue);
      font-size: 2.2rem;
      font-weight: 700;
      line-height: calc(28 / 22);
    }

    & .card__text {
      color: var(--color-grayish-blue);
      line-height: calc(19 / 15);
      margin-inline: calc((16 / 16) * 1em);
      margin-bottom: calc((24 / 16) * 1em);
    }
  }
}
