@use '../abstracts' as *;

body {
  display: grid;
  place-content: center;

  background-color: var(--color-light-gray);
  font-family: 'Outfit', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;

  @media (min-width: $breakpoint-sm) {
    place-content: center;
  }
}
